* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
nav {
  width: 100%;
}
nav .inner {
  max-width: 1180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  margin: 0 auto;
}
nav .logo {
  display: flex;
  align-items: center;
}
nav .logo h1 {
  color: #666;
  font-weight: bold;
}
nav .logo img {
  width: 45px;
  height: 45px;
  font-size: 17px;
  margin-right: 20px;
}
nav .menu {
  display: flex;
  font-weight: bold;
}
nav .menu a {
  text-decoration: none;
  font-size: 16px;
  color: #707070;
}
nav .menu .login_btn a {
  margin: -1px 20px 0px;
  color: #f4bb5f;
}

.sub-nav {
  width: 100%;
  height: 40px;
  background-color: #f4f4f4;
}
.sub-nav .inner {
  max-width: 1180px;
  display: flex;
  justify-content: right;
  margin: 0 55px;
  align-items: center;
}

.sub-nav .inner a {
  color: #707070;
  margin: -1px 20px 0;
  font-size: 15px;
  text-decoration: none;
  line-height: 45px;
}
.sub-nav .inner a:hover {
  transition: 0.5s;
  color: #f4bb5f;
}
.sub-nav .inner input {
  width: 198px;
  height: 25px;
  border: none;
  border-radius: 5px;
  margin: -1px 12px 0;
  padding: 0 0 0 10px;
}

.sub-nav .inner input::placeholder {
  padding: 0 0 0 10px;
  font-size: 11px;
  color: #b2b2b2;
}

.sub-nav .inner .fa-search {
  font-size: 15px;
  color: #9b9b9b;
}

.figure {
  height: 300px;
  max-width: 100%;
  background-color: rgb(246, 219, 248);
  margin: 0 auto;
  margin-top: 95px;
}

.figure .wrap {
  display: flex;
  justify-content: space-between;
  line-height: 280px;
  margin: 0 150px;
}

.figure .wrap button {
  all: unset;
  color: #fff;
  opacity: 0.8;
  font-size: 17px;
  cursor: pointer;
}

.section {
  width: 100%;
}

.section .inner {
  max-width: 1180px;
  margin: 0 auto;
  padding: 180px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section .inner img {
  width: 35px;
  height: 35px;
  margin-bottom: 15px;
}

.settion .inner span {
  color: #f4bb5f;
  font-weight: bold;
  margin: 10px 0 0;
  text-align: left;
}

.section .inner p {
  color: #3e3e3e;
  font-size: 18px;
  margin: 15px 0 20px;
  font-weight: bold;
}

.section .inner .more-btn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.section .inner .more-btn a {
  text-decoration: none;
  color: #fe968d;
  font-size: 15px;
  font-weight: bold;
  margin: 0 77px 20px 0;
  letter-spacing: 1.2px;
}
.section .inner .more-btn a:hover {
  transition: 0.5s;
  color: #faaca7;
}

.slider {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slider a {
  text-decoration: none;
  color: #b2b2b2;
  display: block;
  width: 45px;
  height: 45px;
  font-size: 30px;
  line-height: 50px;
  border-radius: 50%;
  border: 1px solid #b2b2b2;
  text-align: center;
}

.product-box {
  margin: 10px 20px;
  display: flex;
}

.product-box .wrap {
  display: flex;
  flex-direction: column;
}

.product-box .wrap img {
  width: 250px;
  height: 310px;
  border-radius: 10px;
  margin: 0px;
  margin-right: 10px;
  margin-bottom: 6px;
  cursor: pointer;
}

.product-box .wrap img:nth-child(4) {
  margin-right: 0;
}

.product-box .wrap img:hover {
  transform: scale(0.9);
  transition: 0.5s;
  opacity: 0.8;
}

span {
  color: #58595b;
  text-indent: 10px;
  font-size: 13px;
}

span:nth-of-type(1) {
  margin-bottom: 15px;
  font-size: 15px;
}

span:nth-of-type(2) {
  font-size: 16px;
}

span:nth-of-type(3) {
  text-indent: 4px;
  color: #9b9b9b;
}

span .fa-star {
  color: #f4bb5f;
}

span .bold {
  color: #3e3e3e;
}

footer {
  margin-top: 90px;
  width: 100%;
  background-color: #fffcf7;
  padding: 30px 20px 70px;
  color: #58595b;
}
footer .inner {
  max-width: 1180px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
footer .aside_left {
  width: 800px;
}
footer .aside_left .wrap {
  display: flex;
  padding: 0;
}
footer .aside_left .wrap a {
  font-size: 20px;
  font-weight: bold;
  color: #58595b;
  text-decoration: none;
  margin-right: 40px;
}
footer ul {
  list-style: none;
  padding: 0;
}
footer ul li {
  font-size: 12px;
  margin: 0 0 10px;
  margin-right: 10px;
}
footer ul li .aside_right {
  width: 400px;
  height: 162px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .info {
  margin-bottom: 60px;
}
footer .info li {
  margin-top: 10px;
}
footer .sns {
  display: flex;
  justify-content: space-between;
}
footer .aside_right span {
  font-weight: bold;
  font-size: 20px;
}
footer .aside_right ul img {
  width: 35px;
  height: 35px;
}
