@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Atma:wght@600&family=Nanum+Gothic:wght@800&display=swap');

body {
  margin: 0;
  padding: 0;

  button.cart-bar {
    background-color: #eee;
    border: transparent;
    box-shadow: 1px 1px 1px 1px #ccc;
    border-radius: 50%;
    padding: 10px;
    text-align: right;
    cursor: pointer;
    margin-left: 50px;
    position: sticky;
    top: 250px;

    img.cart {
      width: 25px;
      height: 25px;
    }
  }
}
