.section {
  width: 100%;

  .inner {
    max-width: 1180px;
    margin: 0 auto;
    padding: 180px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 35px;
      height: 35px;
      margin-bottom: 15px;
    }

    .propose {
      color: #f4bb5f;
      font-weight: bold;
      margin: 10px 0 0;
      text-align: center;
      font-family: 'Nanum Gothic';
    }

    .recommend {
      color: #3e3e3e;
      font-size: 18px;
      margin: 15px 0 20px;
      font-weight: bold;
      font-family: 'Nanum Gothic';
    }

    .more-btn {
      width: 100%;
      display: flex;
      justify-content: flex-end;

      a {
        text-decoration: none;
        color: #fe968d;
        font-size: 15px;
        font-weight: bold;
        font-family: 'Nanum Gothic';
        margin: 0 77px 20px 0;
        letter-spacing: 1.2px;

        &:hover {
          transition: 0.5s;
          color: #faaca7;
        }
      }
    }

    .slider {
      max-width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      a {
        text-decoration: none;
        color: #b2b2b2;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        border: 1px solid #b2b2b2;
        text-align: center;
      }
    }
    .product-box {
      margin: 10px 20px;
      display: flex;
    }
  }
}
