.footer {
  margin-top: 90px;
  width: 100%;
  background-color: #fffcf7;
  padding: 30px 20px 70px;
  color: #58595b;

  .inner {
    max-width: 1180px;
    display: flex;
    justify-content: space-between;
    padding: 24px 50px;
    margin: 0 auto;

    .aside_left {
      width: fit-content;

      .wrap {
        display: flex;
        padding: 0;

        a {
          font-size: 20px;
          font-weight: bold;
          color: #58595b;
          text-decoration: none;
          margin-right: 40px;
        }
      }
      .company-infolist {
        list-style: none;
        padding: 0;

        .company-info {
          font-size: 12px;
          margin: 0 0 10px;
          b {
            margin-right: 5px;
          }
          span {
            margin-right: 5px;
          }
        }
      }
    }

    .aside_right {
      width: fit-content;
      height: 162px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .info {
        margin-bottom: 60px;
        text-align: right;

        span {
          font-weight: bold;
          font-size: 20px;
        }

        li {
          margin-top: 10px;
          font-size: 12px;
        }
      }
      .sns {
        display: flex;

        img {
          width: 35px;
          height: 35px;
          margin-left: 20px;
        }
      }
    }
  }
}
